<!DOCTYPE html>
<html ng-app="login">
<head>
	<title>Dashboard Page</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/styles.css">

	<!--  Angular from Google CDN -->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
	<!-- Load AppController -->
	<script type="text/javascript" src="../controllers/login-controller.js"></script>
</head>
<body ng-controller="dashboardCtrl" data-ng-init="init()">
<h2>{{name}}</h2>
</body>
</html>