* {
    box-sizing: border-box;
}

html {
	overflow: scroll;
}

body {
	width: 100%;
	height: 100%;
}

a, a label {
    cursor: pointer;
}

.container {
    padding-right: 0;
    padding-left: 0;
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(63,29,66);
	background-image:url('images/bg1.jpg');
	background-size: 1300px 960px;
    background-repeat: no-repeat;
    overflow: scroll;
}

/* Login form and signup form styles */
#model-form {
    position: absolute;
    left: 30%;
    top: 20%;
	background: rgba(0,0,0,.3);
	padding: 20px 22px;
	border: 1px solid;
	border-top-color: rgba(60,60,60,.4);
	border-left-color: rgba(60,60,60,.4);
	border-bottom-color: rgba(60,60,60,.4);
	border-right-color: rgba(60,60,60,.4);
	border-radius: 2px;
	width: 36%;
}

.model-item {
	padding-bottom: 5px;
}

.login-form {
	margin-top: 18px;
}

.login-button, .sign-up-button {
	background: rgb(173,164,172,0.3);
}

.login-button:hover, .sign-up-button:hover {
	background: rgb(240,95,64,0.5);
}

.form-control {
	background: rgba(255,255,255,.3);
	height: 40px;
	color: #fff;
	border: none;
}
#signUpLink {
	padding-top: 25px;
}
.remember-me {
	color: rgb(60,49,46);
	padding-top: 9px;
}
.sign-up-button {
	border: none;
	margin-left: 24%;
}

.login-header {
    color: white;
    font-size: 43px;
    font-style: italic;
    font-weight: normal;
}

#noteContent {
	color: #000;
}
#notes {
	overflow: hidden;
}

.currentNote {
	height:170px;
	background: #000;
	margin: 10px;
	word-wrap: break-word;
	overflow: auto;
	border-radius: 17px;
	color: gray;
}
#editNote, #deleteNote {
	text-decoration: none;
	color: green;
	padding-top: 4px;
}